html{
    scroll-behavior: smooth;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    background-color: #292931;
}

body{
  margin: 0;
}

.social-media-icons{
  vertical-align: middle;
  height: 1.5rem;
  width: auto;
  padding: 0.1em;
  filter: invert(80%);
}

.nav-container{
  position: fixed;
  width: 100%;
  top: 0;
  overflow: hidden;
}
  .nav-container a{
    padding: 0.4rem 0 0 0.4rem;
    float: left;
    font-size: 0.9rem;
    text-decoration: none;
    color: white;
  }

.home-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: 	#F8F4F9;
  width: 100%;
  height: 100vh;
  background: url(img/background.jpg) no-repeat center center fixed;
}
  .home-container h1{
    font-size: 2rem;
    font-weight: 100;
    margin: 10px;
    margin-bottom: 0;
  }
  .home-container h1 strong{
    font-weight: normal;
    color: #B1DDF1;
  }
  .home-container p{
    font-size: 1rem;
    margin-top: 0;
  }
    .home-container p strong{
      text-align: justify;
      font-size: 1.2rem;
      font-weight: normal;
      color: #B2B2B2;
    }
  .home-profile{
    border-radius: 50%;
    padding: 20px;
  }

.about-container{
  display: grid;
  grid-template-columns: repeat(2, 2fr) 1fr;
  column-gap: 3%;
  min-height: 100vh;
  color: #F8F4F9;
}
  .about-profile-1{
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
    .about-profile-1 img{
      height: 50vh;
      max-width: 100vh;
    }

  .about-content{
    vertical-align: middle;
    text-align: left;
    color: #F8F4F9;
    margin: auto;
    border-left: 1px solid white;
    padding-left: 4.5%;
  }
    .about-content h1{
      font-weight: normal;
      color: #B1DDF1;
    }
    .about-content a{
      color: inherit;
    }

/* media query */
@media screen and (max-width: 480px){
  .about-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
  }
  .about-profile-1{
    padding-top: 10%;
    justify-content: center;
  }
    .about-profile-1 img{
      width: 80%;
      height: auto;
    }

  .about-content{
    padding: 10%;
    border: 0px;
  }
}

.footer{
  font-size: 0.7rem;
  font-family: 'Source Code Pro', monospace;
  text-align: center;
  padding: 0.5rem 0 0.5rem 0;
  color: white;
  background-color: #1F1F20;
}
  .footer strong{
    font-family: 'Raleway', sans-serif;
  }
  .footer a{
    color: inherit;
  }
