body{
  margin: 0px;
  background-color: #dddddd;
}

.header-list{
  z-index: 2;
  list-style-type: none;
  font-family: 'Roboto';
  color: white;
  margin: 0;
  padding: 0;
  position: fixed;
}
  .header-list a{
    width: 60px;
    text-decoration: none;
    color: inherit;
  }
  .header-list li{
    display: inline-flex;
    padding: 10px 40px;
  }

.about-container{
  display: grid;
  grid-template-columns: [column1-start] 10% [column2-start] auto [column3-start] 10%;
  grid-template-rows: [row1-start] 10% [row2-start] auto [row-3-start] 25%;
  justify-items: center;
}
  .about-background{
    z-index: -1;
    width: 100%;
    background-size: cover;
    opacity: 0.7;
    grid-column: 1 / 4;
  }
  .about-content{
    text-align: center;
    grid-column: 1 / 4;
    grid-row-start: row2-start ;
  }
  .about-profile{
    border-radius: 50%;
  }
  .about-text{
    font-family: 'Montserrat', sans-serif;
    color: black;
  }
  .about-text h1{
    font-size: 2rem;
  }
  .about-text p{
}

.socmed-links-container{
  list-style: none;
  font-family: 'Roboto';
  color: white;
  margin: 0;
  padding: 0;
  text-align: center;
}
  .socmed-links-container a{
    color: black;
    text-decoration: none;
  }
  .socmed-links-container li{
    padding: 10px 40px;
    display: inline-flex;
  }
